* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: #108554;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
section:nth-child(1) {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}
section:nth-child(1) figure {
  margin: 2px;
  background-color: #126945;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure img {
  width: 80%;
  filter: invert(97%) sepia(8%) saturate(1427%) hue-rotate(74deg) brightness(106%) contrast(96%);
}

section:nth-child(2) {
  margin: 1rem;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #126945;
  position: relative;
}
section:nth-child(2) article {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 25vw;
}
section:nth-child(2) figure {
  display: flex;
  font-family: cursive;
  justify-content: center;
  color: #b8fadd;
  align-items: center;
  font-size: 2rem;
}
input {
  background-color: transparent;
  text-transform: uppercase;
  font-family: cursive;
  padding: .75rem 0;
  font-size: 1.75rem;
  color: #dafeef;
  text-align: center;
  border: none;
  background-color: #11563a;
  border-block: 2px solid #03301f;
}
/* section:nth-child(2) button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 10px;
  color: #b8fadd;
  right: 17px;
  font-size: 1.75rem;
} */